<tr class="col-md-12" style="text-align: center">
  <td id="{{todo.title}}">{{todo.title}}</td>
  <td id="{{todo.date}}">{{todo.date | dateformatter}}</td>
  <td><ng-container *ngIf="todo.done==false">
    <a href="#" class="btn btn-primary" (click)="done.emit()" style="visibility: visible">Done</a>
  </ng-container>
    <ng-container *ngIf="todo.done==true">
      <a (click)="undo.emit()" href="#" class="btn btn-dark" style="visibility: visible" >Undo</a>
      <a (click)="destroy.emit()" href="#" class="btn btn-danger" style="visibility: visible">Delete</a>
    </ng-container>
  </td>
</tr>
