<div class="container">
  <h4 style="margin-bottom: 5vh">ToDO</h4>
  <button style="margin-bottom: 5vh" class="btn btn-secondary" (click)="dataService.add()">New</button>
  <h4 style="margin-bottom: 5vh">Need to do:</h4>
  <div class="table-responsive">
    <table class="table w-auto ">
      <thead>
      <tr>
        <th scope="col">Titel:</th>
        <th scope="col">Datum:</th>
      </tr>
      </thead>
      <div *ngFor="let item of dataService.todoList; let i = index">
        <ng-container *ngIf="!item.done">

          <tbody>
          <app-todo-item [todo]="item" (done)="dataService.done(i)"></app-todo-item>
          </tbody>

        </ng-container>
      </div>
    </table>
  </div>

  <h4 style="margin-top: 5vh; margin-bottom: 5vh">Done:</h4>
  <div class="table-responsive">
    <table class="table w-auto">
      <thead>
      <tr>
        <th scope="col">Titel:</th>
        <th scope="col">Datum:</th>
      </tr>
      </thead>
      <div *ngFor="let item of dataService.todoList; let i = index">
        <ng-container *ngIf="item.done">

          <tbody>
          <app-todo-item [todo]="item" (undo)="dataService.undo(i)"
                         (destroy)="dataService.destroy(i)"></app-todo-item>
          </tbody>

        </ng-container>
      </div>
    </table>
  </div>
</div>
